.div1{
    
}
.div2{
    background-color: green;
}
.div3{

}
.div31{
    background-color: pink;
}
.div32{
    background-color: purple;
}
.div33{
    background-color: gray;
}
.div4{

}
.div41{
    background-color: yellow;
}
.div42{
    background-color: orange;
}
.div5{
    background-color: red;
}
.div6{
    background-color: blue;
}
